<div class="container-fluid">
  <div class="title mat-display-1">
    הוספת מועמד
  </div>
  <form [formGroup]="candAddForm">
    <div class="candidate-add row">
      <mat-form-field class="col-12 col-lg-6">
        <input matInput placeholder="מועמד למועצה" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="col-12 col-lg-6">
        <input matInput placeholder="ת.ז." formControlName="id" />
      </mat-form-field>
      <mat-form-field class="col-12 col-lg-6">
        <input
          matInput
          placeholder="מספר ברשימה"
          formControlName="numberInElectral"
        />
      </mat-form-field>

      <mat-form-field class="col-12 col-lg-6">
        <input matInput placeholder="גיל" formControlName="age" />
      </mat-form-field>
      <div class="controls">
        <button mat-raised-button color="primary" (click)="addFile()">
          הוסף +
        </button>
      </div>
      <input
        type="file"
        #file
        style="display: none;"
        (change)="onFilesAdded($event.target.files)"
      />
    </div>
  </form>
  <div class="candidate-table">
    <table class="table">
      <thead>
        <tr>
          <th>שם</th>
          <th>ת.ז.</th>
          <th>מספר ברשימה</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cand of candidateList">
          <td scope="row">{{ cand.name }}</td>
          <td>{{ cand.id }}</td>
          <td>{{ cand.numInElect }}</td>
          <td style="padding: 0px;">
            <div class="icons-container">
              <span class="edit-icon"><fa-icon [icon]="faEdit"></fa-icon></span>
              <span class="delete-icon"
                ><fa-icon [icon]="faEraser"></fa-icon
              ></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
