.container-fluid {
    direction: rtl;
    text-align: right;
}
.candidate-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
mat-form-field {
    text-align: right;
}
.candidate-table {
    margin-top: 30px;
    height: 50vh;
    overflow: scroll;
}
.delete-icon,.edit-icon  {

    font-size: 16px;
    margin: 13px 7px 0px;
}

.icons-container {
    padding: 0px;
    display: flex;
}
.messages {
    margin: 15px;
}
.controls button{
    margin: 4px 5px 4px;
}
.error-msg{
    color:red;
}
.controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
fa-icon{
    margin-right: 10px;
}